/* reset */
*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

/* cabeçalho */
h1, p{
    text-align: center;
}

h1{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #4a87e8;
}

/* galeria */

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.card{
    display: inline-block;
    width: 200px;
    margin: 25px;
    border: 1px solid #4a87e8;
}

.card-image{
    height: 200px;
    background-size: cover;
}

.card-1 .card-image{
   background-image: url('../img/animal-1.jpg');
}

.card-2 .card-image{
    background-image: url('../img/animal-2.jpg');
 }

 .card-3 .card-image{
    background-image: url('../img/animal-3.jpg');
 }

 .card-4 .card-image{
    background-image: url('../img/animal-4.jpg');
}

.btn{
    display: block;
    background-color: #4a87e8;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: .5s;
    border-radius: 5px;
}

.btn:hover{
    background-color: #fff;
    color: #4a87e8;
    border-color: #4a87e8;
}

.card-description{
    padding: 20px 10px;
}